@model IEnumerable<Wypozyczalnia_sprzetu_budowlanego.Models.Tool>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista sprzętu</h1>

<p>
    <a asp-action="Create">Dodaj nowy sprzęt</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nazwa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                Cena (zł/24h)
            </th>
            <th>
                Kategoria
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.NazwaKategorii)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdTool">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.IdTool">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.IdTool">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
