@model Wypozyczalnia_sprzetu_budowlanego.Models.Renting

@{
    ViewData["Title"] = "Delete";
}

<h1>Usuń wypożyczenie</h1>


<div>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.Email)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tool)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tool.Model)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdRenting" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-action="Index">Wróć</a>
    </form>
</div>
