@model Wypozyczalnia_sprzetu_budowlanego.Models.Renting

@{
    ViewData["Title"] = "Details";
}

<h1>Szczegóły</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tool)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tool.Model)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdRenting">Edytuj</a> |
    <a asp-action="Index">Wróć</a>
</div>
